.heading {
  font-size: .8rem;
  margin: 0;
  padding: .25rem;
  margin-bottom: .25rem;
  text-align: center;
  border-bottom: 1px solid #bbb;
}

.node {
  background-color: white;
  color: black;
  padding-bottom: .25rem;
  border-radius: .20rem;
  height: 100%;
  box-sizing: border-box;

  :global(.react-flow__handle) {
    position: static;
    top: auto;
    transform: none;
    margin-right: -4px;
  }
}

.field {
  display: flex;
  flex-direction: column;
}

.handles {
  display: flex;
  flex-direction: column;
}

.handleWithLabel {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: .25rem;
}
