.container {
  display: grid;
  grid-template-rows: auto 1fr;
}

.flowAndPreview {
  display: grid;
  grid-template-columns: 1fr auto;
}

.preview {
  min-width: 8rem;
}

.container,
.flow {
  height: 100%;
  width: 100%;
}

.flow {
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1),
}
