// https://www.pinterest.co.uk/pin/351912464085377/

// LIGHT THEME
$purple-light-100: hsl(224, 25%, 32%);
$purple-light-200: hsl(224, 29%, 63%);
$purple-light-300: hsl(238, 28%, 63%);
$purple-light-400: hsl(232, 41%, 78%);
$purple-light-500: hsl(225, 50%, 89%);

// DARK THEME
$purple-dark-100: hsl(224, 25%, 12%);
$purple-dark-200: hsl(224, 29%, 43%);
$purple-dark-300: hsl(238, 28%, 43%);
$purple-dark-400: hsl(232, 41%, 58%);
$purple-dark-500: hsl(225, 50%, 69%);
